* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background: lightgray;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

header img {
    max-width: 80%;
}

main img {
    max-width: 800px;
    width: 450px;
}
  

footer {
    font-family: 'Times New Roman', Times, serif;
    background: black;
    color: white;
    font-size: .8em;
    padding: 30px;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

span {
    color: red;
}

input {
    width: 430px;
    padding: 10px;
}

.btn {
    width: 225px;
    padding: 10px;
}



